.sales-summary-container {
  display: flex;
  flex-wrap: wrap;
  width: 440px;
  justify-content: space-between;
}

/**
CSS SalesSummaryCard
*/
.sales-summary-card-container {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sales-summary-card-container:nth-of-type(1),
.sales-summary-card-container:nth-of-type(1) {
  margin-bottom: 45px;
}

.sales-summary-card-value {
  color: var(--white);
  font-size: 24px;
  margin: 20px 0 5px 0;
}

.sales-summary-card-label {
  color: var(--grey-light-40);
  font-size: 18px;
}
